* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg-color: #604545b2;;
    --space-10: 10px;
    --space-30: 30px;
    --space-50: 50px;
}

.container {
    width: 80%;
    width: 10px auto;
    padding: var(--space-30);
    background-color: var(--bg-color);
}

.container {
    width: var(--margin-30) auto;
    text-align: center;
}

.box {
    --width-total: 60%;
    --margin:25px;
    width: var(--width-total);
    margin: var(--margin) auto;
}
