body {
    font-family: "Montserrat", sans-serif;
    
}

div {
    width: 900px;
    height: 500px;
    margin: 10px auto;
    padding: 30px 0;
    box-sizing: border-box;
    background-image:linear-gradient(rgba(0,0,0, .6),rgba(0, 0, 0, .3)),
    url(../images/pexels-dkomov-34804000\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 7px;
}

div h2 {
    font-size: 45px;
    margin: 50px 30px;
    color: white;
}

div p {
    margin: 30px 30px 60px;
    width: 40%;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

div a {
    margin: 30px;
    text-decoration: none;
    border: 2px solid rgb(142, 6, 176);
    background-color: rgb(142, 6, 176);
    color: white;
    padding: 8px 30px;
    border-radius: 7px;
    font-weight: 600;
}

div a:hover {
    background-color: transparent;
    color: rgb(213, 100, 241);
    font-weight: 800;
    box-shadow: 0px 10px 50px rgb(142, 6, 176);
}