* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.imagem1 div {
    font-size: 90px;
    margin: 10px auto;
    padding: 70px;
    color: transparent;
    box-sizing: border-box;
    text-align: center;
    font-weight: 999;

    border: 5px solid rgb(10, 144, 35);
    border-radius: 30px;
    
    background-image: url(../images/pexels-murilo-fonseca-14867612-6321080.jpg);
    background-size: 100%;
    background-clip: text;
}

.imagem2 div {
    font-size: 90px;
    margin: 10px auto;
    padding: 70px;
    color: transparent;
    box-sizing: border-box;
    text-align: center;
    font-weight: 999;
    
    border: 5px solid rgb(19, 7, 148) ;
    border-radius: 30px;
    
    background-image: url(../images/pexels-vectors-icon-355704-968311.jpg);
    background-size: 100%;
    background-clip: text;
    
}

.imagem1 h2 {
    font-size: 30px;
    color:  rgb(7, 7, 95);
    padding: 20px;
    background-color: rgb(225, 239, 26);
    border: 10px solid rgb(14, 111, 5);
    border-radius: 40px;
}
.imagem2 h2 {
    font-size: 30px;
    color: white;
    padding: 20px;
    background-color: rgb(5, 5, 101);
    border: 10px solid rgb(179, 42, 42);
    border-radius: 40px;
}